{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
  <h1 class="text-center">Генератор пиццы v0.9 alpha</h1>
  <form action="/submit/" method="post" class="index-form" name="pizza-constructor">
    {% csrf_token %}
    {% for element in elements %}
      <div>
        <h3>{{ element.group.name }}</h3>
        {% for key, ingredient in element.ingredients.items %}
          <div class="input-group {{ element.group.type }}">
            <div class="input-group-prepend">
              <label for="item-{{ ingredient.id }}" class="input-group-text">
                {{ ingredient.name }}{% if ingredient.price %}({{ ingredient.price }}$){% endif %}
              </label>
            </div>
            <input
                id="item-{{ ingredient.id }}"
                type="{{ element.group.type }}"
                class="form-control"
                {% if element.group.type == 'radio' %}
                  checked="checked"
                  name="id-item-free-{{ element.group.id }}"
                  value="{{ ingredient.id }}"
                {% else %}
                  name="id-item-{{ ingredient.id }}"
                  value="0"
                  min="0"
                {% endif %}
            >
          </div>
        {% endfor %}
      </div>
      <hr>
    {% endfor %}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Заказать &rarr;</button>
    </div>
    <hr>
  </form>
{% endblock %}
