{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <form action="">
    {% csrf_token %}
    {% for key_group, value_group in elements.items %}
        <h2>{{ value_group.type }}</h2>
        <div>
            <hr>
            <h1>{{ key_group }}</h1>
            <span>
                {% for ingredient in value_group %}
                    <h2>{{key_group.name}}</h2>
                    <div>
                        <input id="{{ ingredient.id }}"
                               type="{{ value_group.type }}"
                               name="{% if value_group.type == 'radio'%}{{ value_group.name }}{% else %}{{ ingredient.name }}{% endif %}">
                        <label for="{{ ingredient.id }}">
                            {{ ingredient.name }}{% if ingredient.price %}({{ ingredient.price }}$){% endif %}
                        </label>
                    </div>
                {% endfor %}
            </span>
        </div>
    {% endfor %}
    <hr>
    </form>

{% endblock %}
